<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/testvagrant/IdeaProjects/Testng_MavenProject">
        <classes>
            <class name="pkg1.SampleMaven">
            <methods><include name="hii"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>